@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Luckiest Guy", cursive;
}

body {
  height: 100vh;
  background-color: #e6e6ea;
}

.header {
  color: white;
  background-color: #fe4a49;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.logo_container {
  display: flex;
  align-items: center;
}

.trophy_img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.header_title {
  font-size: 30px;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.list_item {
  margin: 0 10px;
  list-style-type: none;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  transition-duration: 0.4s;
}

.nav_list:hover a {
  opacity: 0.4;
}

.nav_list a:hover {
  opacity: 1;
  color: #fff;
}

.active_page::after {
  content: "";
  position: absolute;
  margin-top: 25px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .nav_list {
  transform: scale(1, 1);
}

.math_section {
  display: grid;
  gap: 10px;
  grid-template-columns: 4fr 1fr;

  padding: 10px;
  font-size: 10rem;
}

.problem_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
}

.problem_container,
.answer {
  box-shadow: 0 3px 3px 2px rgb(159, 158, 158);
  border-radius: 3px;
}

.problem_container div {
  padding: 20px 10px;
}

.problem_container div:nth-child(1) {
  color: #fe4a49;
}

.problem_container div:nth-child(2) {
  color: #2ab7ca;
}
.problem_container div:nth-child(3) {
  color: #fed766;
}

.problem_container div:nth-child(4) {
  color: #f86624;
}

.problem_container div:nth-child(5) {
  color: gray;
}

.answers_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.answer {
  padding: 0 10px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.answer:nth-child(1) {
  background-color: #fe4a49;
}

.answer:nth-child(2) {
  background-color: #2ab7ca;
}

.answer:nth-child(3) {
  background-color: #fed766;
}

.answer:nth-child(1):hover,
.answer:nth-child(2):hover,
.answer:nth-child(3):hover {
  background-color: white;
  transition: 1s;
}

.answer:nth-child(1):hover {
  color: #fe4a49;
}

.answer:nth-child(2):hover {
  color: #2ab7ca;
}

.answer:nth-child(3):hover {
  color: #fed766;
}

@media (max-width: 1200px) {
  .math_section {
    font-size: 8rem;
  }
}

@media (max-width: 950px) {
  .math_section {
    font-size: 7rem;
  }
}

@media (max-width: 750px) {
  .list_item {
    margin: 0 30px;
  }

  .math_section {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;

    font-size: 5rem;
  }

  .answers_container {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .nav_list {
    flex-direction: column;
    background-color: #fe4a49;
    align-items: start;
    position: absolute;
    top: 70px;
    left: -10px;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .nav_list li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}


@media (max-width:400px) {
  .header_title {
    font-size: 25px;
  }
  
  .math_section {
    font-size: 4rem;
  }

}